#gp-one {
  background-image: url(./assets/Grid-1.webp);
}
#gp-two {
  background-image: url(./assets/Grid-2.webp);
}
#gp-three {
  background-image: url(./assets/Grid-3.webp);
}
#gp-four {
  background-image: url(./assets/Grid-4.webp);
}
#gp-five {
  background-image: url(./assets/Grid-5.webp);
}
#gp-six {
  background-image: url(./assets/Grid-6.webp);
}
#gp-seven {
  background-image: url(./assets/Grid-7.webp);
}
