#gs-one {
  background-image: url(./assets/Grid-21.webp);
}
#gs-two {
  background-image: url(./assets/Grid-22.webp);
}
#gs-three {
  background-image: url(./assets/Grid-23.webp);
}
#gs-four {
  background-image: url(./assets/Grid-24.webp);
}
#gs-five {
  background-image: url(./assets/Grid-25.webp);
}
#gs-six {
  background-image: url(./assets/Grid-26.webp);
}
#gs-seven {
  background-image: url(./assets/Grid-27.webp);
}
#gs-eight {
  background-image: url(./assets/Grid-28.webp);
}
